@import '~antd/dist/antd.css';


.App {
  text-align: center;
  height: 100%;
}

.root {
  background-color: #9FB8AD;
  color: white;
}

.root a{
  color: white;
}

.root a:hover{
  color: #6A6E80
}

.button {
  background-color: #383e56;
  color: white;
}

.button:hover {
  color: #51566B !important;
}

.message {
  margin-top: 2em;
  padding: 1em;
}

.homeButton {
    border: 0;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    color: white;
    font-size: 20px;
    font-weight: 400;
    border-radius: 5px;
    background-color: #383e56;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.homeButton:hover {
  background-color: #FB743E
}
  

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background-color: #9fb8ad;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.site-card-border-less-wrapper {
  background: #9fb8ad;
  align-items: center;
  margin-top: 6rem;
}

.portalCard {
  color: white !important;
  background-color: #9fb8ad !important;
}

.portalCardTypography {
  color: #383e56;
}

.ant-card-body {
  background-color: #9fb8ad;
}

.ant-typography h2 {
  color: white !important;
}

.ant-card-head-title {
  color: white !important;
}

.link1 {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

.tripDiv {
  margin-top: 10rem;
  background-color: #383e56 !important;
  padding: 1rem;
  border-radius: 5px !important;
  font-family: 'Varela Round', sans-serif;
}

.tripDiv h3 {
  color: white;
  background-color: #383e56 !important;
}

.tripDiv button {
  background-color: #FB743E;
  border-radius: 5px;
  border: none;
  margin: 1rem;
}

.tripDiv button:hover {
  background-color: #9fb8ad;
  border: none;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.tripDisplay {
  margin-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.newActivity {
  display: flex;
  justify-content: center;
}
.stateSelector {
  font-family: 'Varela Round', sans-serif;
  color: #383e56 !important;
}
.ant-card-head {
  background-color: #383e56 !important;
}
.ant-card-head-title {
  font: 45px 'Varela Round', sans-serif !important;

}
.ant-card-bordered {
  margin-top: 40%;
  border: 1px solid #383e56;  
}
.ant-card-grid {
  background-color: #383e56;
  color: white;
  font-family: 'Varela Round', sans-serif;
  margin: 5%;
  margin-top: 10%;
  /* border: 5px solid #FB743E; */
  word-wrap: break-word;
  font: 'Varela Round', sans-serif;
  box-shadow: 0..25px 0 0 0 #f0f0f0, 
  0 .25px 0 0 #f0f0f0, 
  0.5px 0.5px 0 0 #f0f0f0, 
  1px 0 0 0 #f0f0f0 inset, 
  0 1px 0 0 #f0f0f0 inset;
}
.card-background {
  background-color: #383e56
}
.trips-grid {
  margin: auto;
  display: flex;
  justify-content: center;
}

.card-grid-style {
  display: flex;
  justify-content: center;
  background-color: #FB743E;
  width: 100%;
}

.delete-button{
  background-color: #FB743E;
  color: white;
  font-family: 'Varela Round', sans-serif;
  border: none;

}
.desktop-trips{
  margin-top: 30%;
}